/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.wrapper{
    height: 100vh;
    width: 100%;
    background-color: #1C1E22;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: #2B2B30;
    border-radius: 10;
    border: none;
    margin-bottom: 40px;
}
.card__top{
    border-bottom: 3px solid #FBE24C;
    padding-top: 48px;
    padding-left: 77px;
}
.card__name{
    color:#FBE24C;
    font-size: 40px;
    margin-bottom: 30px;
}
.card__bottom{
    padding: 88px;
    width: 100%;
}
.color{
    height: 15px;
    width: 15px;
    background: none;
}
.color__name{
    margin-left: 10px;
    color: #FFFFFF;
    font-size: 18px;
}
.box__color{
    margin-bottom: 18px;
}
.next{
    color: #FBE24C;
    background: none;
    border: 3px solid #FBE24C;
    padding: 8px 46px;
    transition: 0.3s;
}
.next:hover{
  background-color: black;
  border-color: black;
  transform: scale(1.1, 1.1);
}